<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="cn.wwah.common">
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="true">
        </service>
        <activity
            android:name="cn.wwah.common.zxing.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
    </application>

</manifest>
